@model Category

<div class="text-center">
    <h1 class="display-4"><a href="/">Products</a> | Categories</h1>
    <div class="d-flex justify-content-around ">
        <div class="d-flex  flex-column">
            <h3 class="mb-4">New Category</h3>
            <div class="d-flex ">
                <form action="/CreateCategories" method="post">
                    <div class="d-flex mb-4">
                        <label>
                            <h4>Name</h4>
                        </label>
                        <input asp-for="Name" class="form control ms-5">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <input type="submit" value="Create">
                </form>
            </div>

        </div>
        <div class="d-flex align-items-start flex-column" style="height: 200px;">
            <h3 class="mr-5">Existing Categories</h3>
            <table class="table.table-striped ms-5">
                @foreach (Category i in ViewBag.AllItems)
                {
                    <tr>
                        <td><a href="/Category/@i.CategoryId">@i.Name</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
